{% extends "temp.html" %}

{% block content %}
<body>
<header class="header-section">
    <div class="container-fluid">
        <div class="logo">
            <a href="/homepage">
                <img src="{{ url_for('static', filename='img/bxboyslogo.png') }}" alt="">
            </a>
        </div>
    </div>

    <div class="container">
                <div class="nav-menu">
                    <nav class="mainmenu mobile-menu">
                        <ul>
                            <!--<li><a href="/tests">Test</a></li>-->
                            <li><a href="/draft">2020 Draft</a></li>
                            <li><a href="/bylaws">By Laws</a>
                                <ul class="dropdown">
                                    <li><a href="/bylaws">2019 By Laws</a></li>
                                    <li><a href="/amendments">2020 Amendments</a></li>
                                </ul>
                            </li>
                            <li><a href="/freeparking">Free Parking</a></li>
                            <li><a href="/bets">Side Bets</a></li>
                            <li><a href="/stats">Stats</a>
                                <ul class="dropdown">
                                    <li><a href="/lifetime_stats">Lifetime Stats</a></li>
                                    <li><a href="/matchup_analytics">Matchup Analytics</a></li>
                                    <li><a href="/historic_game_log">Historic Game Log</a></li>
                                </ul>
                            </li>
                            <li><a>Admin</a>
                                <ul class="dropdown">
                                    <li><a href="/change_password">Change Password</a></li>
                                    <li><a href="/site_requests">Site Requests</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
</header>
<section class="hero-section">

    <div class="single-hero-item set-bg"
         data-setbg="{{ url_for('static', filename='img/login2.jpg') }}">
        <div class="row">
            <div class="leave-comment-form">
                <form action="" method="post">
                    <div class="row">
                        <div class="container-fluid" align="center">
                            <h4>Change Password</h4>
                            <input type="text" class="form-control" placeholder="Email" name="email"
                                   value="{{request.form.email}}" size="40">
                            <input type="password" class="form-control" placeholder="Current Password"
                                   name="current_password" value="{{request.form.current_password}}">
                            <input type="password" class="form-control" placeholder="New Password"
                                   name="new_password" value="{{request.form.new_password}}">
                            <input type="password" class="form-control" placeholder="Confirm Password"
                                   name="confirm_password" value="{{request.form.confirm_password}}">
                            <button type="submit" class="leave-btn">Submit</button>

                            <div>{% with messages = get_flashed_messages() %}
                                {% if messages %}
                                <ul class=flashes>
                                    {% for message in messages %}
                                    <div class="alert alert-dark" role="alert">{{ message }}</div>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>

{% endblock %}
