<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Activitar Template">
    <meta name="keywords" content="Activitar, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>D'EM BX BOYS</title>
    <style>
        table {border-collapse:collapse; table-layout:fixed; width:1200px; align:center;}















    </style>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/elegant-icons.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header-section header-normal">
    <div class="container-fluid">
        <div class="logo">
            <a href="/homepage">
                <img src="{{ url_for('static', filename='img/bxboyslogo.png') }}" alt="" width="100%" height="100%">
            </a>
        </div>

        <div class="container">
            <div class="nav-menu">
                <nav class="mainmenu mobile-menu">
                    <ul>
                        <!--<li><a href="/tests">Test</a></li>-->
                        <li><a href="/draft">2020 Draft</a></li>
                        <li><a href="/bylaws">By Laws</a>
                            <ul class="dropdown">
                                <li><a href="/bylaws">2019 By Laws</a></li>
                                <li><a href="/amendments">2020 Amendments</a></li>
                            </ul>
                        </li>
                        <li><a href="/freeparking">Free Parking</a></li>
                        <li><a href="/bets">Side Bets</a></li>
                        <li><a href="/stats">Stats</a>
                            <ul class="dropdown">
                                <li><a href="/lifetime_stats">Lifetime Stats</a></li>
                                <li><a href="/matchup_analytics">Matchup Analytics</a></li>
                                <li><a href="/historic_game_log">Historic Game Log</a></li>
                            </ul>
                        </li>
                        <li><a>Admin</a>
                            <ul class="dropdown">
                                <li><a href="/change_password">Change Password</a></li>
                                <li><a href="/site_requests">Site Requests</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->

<!-- Map Section Begin -->
<div class="contact-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d49920.74722015539!2d-91.05372600004344!3d38.55573780468622!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d94e8133c753d7%3A0xdd2507b5317e2ed5!2sWashington%2C%20MO!5e0!3m2!1sen!2sus!4v1595596241796!5m2!1sen!2sus"
            width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
    <div class="map-hover">
        <h5>Washington, MO</h5>
        <ul>
            <li>Saturday: 2020 BX BOYS FFL DRAFT</li>
        </ul>
        <i class="icon_pin"></i>
    </div>
</div>
<!-- Map Section End -->

<!-- Class Time Section Begin -->
<section class="classtime-section class-time-table spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="about-text">
                    <h2>DRAFT WEEKEND IS HERE!</h2>
                    <p class="short-details">Forget COVID, let's play some fantasy football!</p>
                    <!--<a href="#" class="primary-btn about-btn">Learn More</a>-->
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="classtime-table">
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="workout-time">MORNING</td>
                    <td></td>
                    <td class="hover-bg ts-item" data-tsmeta="crossfit">
                        <span>BRUNCH</span>
                    </td>
                    <td class="hover-bg ts-item" data-tsmeta="crossfit">
                        <span>BY LAWS DISCUSSION</span>
                    </td>
                    <td class="hover-bg ts-item" data-tsmeta="crossfit">
                        <span>GO HOME</span>
                    </td>
                </tr>
                <tr>
                    <td class="workout-time">AFTERNOON</td>
                    <td>
                    </td>
                    <td class="hover-bg ts-item" data-tsmeta="crossfit">
                        <span>LATE ARRIVALS</span>
                    </td>
                    <td class="hover-bg ts-item" data-tsmeta="crossfit">
                        <span>THE DRAFT</span>
                    </td>
                    <td class="hover-bg ts-item" data-tsmeta="lunge">
                    </td>
                </tr>
                <tr>
                    <td class="workout-time">EVENING</td>
                    <td class="hover-bg ts-item" data-tsmeta="lunge">
                        <span>EARLY INS</span>
                    </td>
                    <td class="hover-bg ts-item" data-tsmeta="lunge">
                        <span>SHENNAGAINS</span>
                    </td>
                    <td class="hover-bg ts-item" data-tsmeta="candy">
                        <span>WASHINGTON, MO BAR SCENE!</span>
                        <!--                        <h6>WASHINGTON, MO BAR SCENE!</h6>-->
                    </td>
                    <td class="hover-bg ts-item" data-tsmeta="candy">
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
    </div>
</section>
<!-- Class Time Section End -->

<!-- Bylaw Amendment Section Begin -->
<section class="trainer-section spad">
    <div class="wrapper-editor">
        <doctype html="">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div>{% with messages = get_flashed_messages() %}
                            {% if messages %}
                            <ul class=flashes>
                                {% for message in messages %}
                                <div class="alert alert-dark" role="alert">{{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                </div>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title">
                            <h2>Arrivals</h2>
                            {{ table }}
                        </div>
                    </div>
                </div>
            </div>
        </doctype>
    </div>
</section>
<!-- Bylaw Amendment Section End -->

<!-- Contact Section Begin -->
<!--
<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="contact-info">
                    <h4>Information</h4>
                    <ul>
                        <li><i class="fa fa-phone"></i>(12)-100-100-100</li>
                        <li><i class="fa fa-envelope"></i>Info.colorlib@gmail.com</li>
                    </ul>
                </div>
                <div class="contact-address">
                    <h4>Address</h4>
                    <ul>
                        <li><i class="fa fa-map-marker"></i> Iris Watson, Mary land, United State., New York City
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 offset-lg-1">
                <div class="contact-form">
                    <h4>Get in touch</h4>
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" placeholder="Name">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" placeholder="Email">
                            </div>
                            <div class="col-lg-12">
                                <textarea placeholder="Message"></textarea>
                                <button type="submit" class="c-btn">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
-->
<!-- Contact Section End -->

<!-- Cta Section Begin -->
<!--
<section class="cta-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cta-text">
                    <h3>GeT Started Today</h3>
                    <p>New student special! $30 unlimited Gym for the first week anh 50% of our member!</p>
                </div>
                <a href="#" class="primary-btn cta-btn">book now</a>
            </div>
        </div>
    </div>
</section>
-->
<!-- Cta Section End -->

<!-- Footer Section Begin -->
<footer class="footer-section">
    <!--<div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-logo-item">
                    <div class="f-logo">
                        <a href="#"><img src="{{ url_for('static', filename='img/logo.png') }}" alt=""></a>
                    </div>
                    <p>Despite growth of the Internet over the past seven years, the use of toll-free phone numbers
                        in television advertising continues.</p>
                    <div class="social-links">
                        <h6>Follow us</h6>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="footer-widget">
                    <h5>Our Blog</h5>
                    <div class="footer-blog">
                        <a href="#" class="fb-item">
                            <h6>Most people who work</h6>
                            <span class="blog-time"><i class="fa fa-clock-o"></i> Jan 02, 2019</span>
                        </a>
                        <a href="#" class="fb-item">
                            <h6>Freelance Design Tricks How </h6>
                            <span class="blog-time"><i class="fa fa-clock-o"></i> Jan 02, 2019</span>
                        </a>
                        <a href="#" class="fb-item">
                            <h6>have a computer at home have had </h6>
                            <span class="blog-time"><i class="fa fa-clock-o"></i> Jan 02, 2019</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-widget">
                    <h5>Program</h5>
                    <ul class="workout-program">
                        <li><a href="#">Bodybuilding</a></li>
                        <li><a href="#">Running</a></li>
                        <li><a href="#">Streching</a></li>
                        <li><a href="#">Weight Loss</a></li>
                        <li><a href="#">Gym Fitness</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer-widget">
                    <h5>Get Info</h5>
                    <ul class="footer-info">
                        <li>
                            <i class="fa fa-phone"></i>
                            <span>Phone:</span>
                            (12) 345 6789
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>
                            <span>Email:</span>
                            Colorlib.info@gmail.com
                        </li>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <span>Address</span>
                            Iris Watson, Box 283 8562, NY
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>-->
    <div class="copyright-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="ct-inside">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                            aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/mixitup.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.nice-select.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.slicknav.js') }}"></script>
<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/mdbEditor.js') }}"></script>
<script src="{{ url_for('static', filename='js/wrapperEditor.js') }}"></script>
</body>

</html>